@font-face {
    font-family: 'Ubuntu';
    src: url(Fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: 'DMSans';
    src: url(Fonts/DMSans/DMSans-Regular.ttf);
}
@font-face {
    font-family: 'Overpass';
    src: url(Fonts/Overpass/static/Overpass-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: 'Signika';
    src: url(Fonts/Signika_Negative/static/SignikaNegative-Regular.ttf);
}
@font-face {
    font-family: 'Noto_Serif';
    src: url(Fonts/Noto_Serif/NotoSerif-Regular.ttf);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

}
body {
    width: 99vw;
    background-color: black;
    overflow-x: hidden;
}
.mainTop {
    background-image: url(images/about2.jpg);
    background-size: cover;
    background-position: 10% 30%;
    background-color: whitesmoke;
    background-repeat: no-repeat;
    width: 100vw;
    color: white;
    /* background-image: url(images/BGLEFT.png); */
    /* background: linear-gradient(rgba(10, 10, 10, 0.5), rgba(12, 12, 12, 0.5)), url(Images/abstract-tech.jpg); */
    background-size: cover;
    /* background-color: #1e1a33; */
    /* background-position: 20% 50%; */
    overflow-x: hidden;
    /* background-attachment: fixed; */   
}
.mainAll a {
    color: white;
}
.header {
    margin-top: 1rem;
    display: grid;
    place-items: center;
    
}
.titleHeader {
    width: fit-content;
    margin: auto;
}
.titleHeader h1 {
    position: relative;
    font-family: 'Signika';
    margin-bottom: 1rem;
    font-size: 60px;
    color: white;
}
.header .titleHeader h1::after {
    position: absolute;
    content: '';
    top: 45px;
    left:215px;
    background:linear-gradient(to right, #1e1a33, white);
    width: 15px;
    height: 15px;
}
.titleHeader h1 span {
    
    font-size: 65px;
}
.title h1 {
    /* font-family: 'Signika'; */
    font-family: 'Overpass';
    margin-bottom: 1rem;
    font-size: 60px;
    color: white;

}
.navbar ul{
    display: flex;
}
.navbar ul li {
    list-style-type: none;
    margin-right:2rem;
}
.navbar a {
    font-family: 'DMSans';
    letter-spacing: 2px;
    text-decoration: none;
    padding: 0.5rem 0;
    position: relative;
    /* transition: 3s text-decoration; */
}
.navbar a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
.navbar a:hover::before {
    transform: scaleX(1);
}
.close {
    display: none;
}
.hero {
    padding: 2rem;
    display: grid;
    column-gap: 3rem;
    grid-template-columns: 50% 40%;
    grid-template-rows: auto;
}
.rightImage {
    position: relative;
    left:0;
    top:0;
    bottom: 100px;
}
.rightImage img {
    width: 400px;
    height: 400px;
    transition: 1s all;
    border-radius: 50%;
    object-fit: cover;
}
/* .rightImage img:hover {
    width: 300px;
    height: 300px;
    transition: 1s all;
} */
.rightImage::before{
    content: url('Images/bulbImage2-removebg-preview.png');
    /* display: block; */
    position: absolute;
    left:400px;
    bottom: 400px;
    transition: 2s all;
}
.rightImage:hover:before {
    transform: rotate(180deg);
    transition: 2s all;
}
.rightImage:hover:after {
    transform: rotate(-180deg);
    transition: 2s all;
}
.rightImage::after{
    content: url('Images/bulbImage3-removebg-preview.png');
    /* display: block; */
    position: absolute;
    height: 50px;
    width: 50px;
    /* top:-470px; */
    left:360px;
    transition: 2s all;
}

.heroLeft {
    padding-left: 3rem; 
    margin-top: 2.5rem;
}
.heroLeft * {
    margin-top: 1rem;
}
.heroLeft p {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.heroLeft h1 {
    margin-top: 2rem;
}
.heroLeft a {
    background-color: #1e1a33;
    padding: 1rem 2rem;
    text-decoration: none;
    transition: 2s color, 2s background-color;
}
.heroLeft a:hover {
    color: #1e1a33;
    background-color: white;
}
.heroRight {
    /* padding-left: 27%; */
    width: fit-content;
    height: fit-content;
}
.title  {
    text-align: center;
}
.mobile_hamburger {
    display: none;
}

/* ABOUT SECTION FOR DESKTOP */
.about {
    padding: 7rem 0.5rem;
    /* background-color: #1e1a33; changed*/
    background-color: white;
}
.aboutGrid {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    column-gap: 5rem;
}
.aboutImage {
    height: 400px;
    width: 100%;
    padding: 2rem;
    border-radius: 20% 40%;
    box-shadow: 20px 20px 20px rgba(224, 225, 234, 0.05), 25px 35px 20px rgb(0 0 0 / 5%), 25px 30px 30px rgb(0 0 0 / 5%), inset -20px -20px 25px rgba(180, 180, 199, 0.9);
}
.aboutImage img {
    width: 100%;
    height: 350px;
    border-radius: 20px;
}

.aboutText {
    width: 90%;
    margin-top: 1.5rem;
    border: 1px solid white;
    padding: 1.4rem;
}
h2.aboutTextTitle  {
    width: 80%;
    font-family: 'Noto_Serif';
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
    color: #1e1a33;
    align-items: center;
}

.aboutText ul {
    list-style: inside;
    color: orange;
}
.aboutText ul li span {
    /* color: red; */
}
.aboutText ul li cul {
    /* color: greenyellow; */
}
.aboutText ul li blue {
    color: rgb(25, 43, 242);
}
.websiteInfo {
    margin-top: 1.5rem;
    color: #3795BD;
}
.reasons {
    margin-top: 3rem;
}
.websiteInfo ul {
    list-style-type:georgian;
    color: black;
}
.skills {
    margin-top: 10rem;
}
.skills h2 {
    text-align: center;
    padding: 1rem 0;
    font-size: 35px;
    font-family: 'Inter';
}
.skills h2 span {
    color: #1e1a33;
}
.skillGallery {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    /* margin: auto;
    width: 90%; */
}

.skillGallery img {
    width: 100px;
    padding: 1rem;
    /* background-image: linear-gradient(to right, rgb(255, 255, 255), #dd4daa); */
    border-radius: 10px;
    height: 100px;
}
.skillGallery img:hover {
    transform: scale(1);
}
.skillGallery > div > p {
    color: #1e1a33;
    text-align: center;
}
/*Service Section */
.services {
    background-image: url(images/BGRIGHT.png), url(images/BGLEFT.png);
    /* background-color: #1e1a33; */
    color: white;
    background-repeat: no-repeat no-repeat;
    background-position: 0% 50%, 100% 10%;
    /* background-color: whitesmoke; */
    margin: 3rem 0;
    padding: 2rem 1rem;
}
.serviceText h2 {
    font-family: 'Signika';
}
.servicesTitle {
    text-align: center;
    color:rgb(25, 43, 242);
    font-family: 'Ubuntu';
    font-size: 30px;
    padding: 2rem 0;
}
.serviceGrid {
    display: grid;
    column-gap: 4rem;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
}

.sites {
    height: 240px;
    width: 380px;
    border-style:inset;
    border: 3px inset #3795BD;
    box-shadow: 3px 5px 10px #3795BD;
    margin-right: 2rem;
    transition: margin 0.3s ease-in-out;
    transition-duration: infinite;
}
.sites:hover{
    margin-top: -20px;
}
.upperSite {
    /* transition: margin 0.2s ease-in-out; */
    height: 250px;
    display: flex;
}
.lowerSite {
    transition: margin 0.2s ease-in-out;
    display: flex;
    margin-top: 2rem;
    height: 250px;
    padding-left: 2rem;
}
.siteImage {
    width: 100%;
    height: 100%;
    /* border-radius: 20px; */
    overflow: hidden;
    
}
.siteImage img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#textParagraph {
    margin-bottom: 3rem;
}
.serviceText {
    margin-top: 4rem;
    margin-left: 3rem;
}
p#textParagraph {
    margin-top: 1rem;
    font-weight: bold;
}
.learnMore {
    padding: 0.7rem 2rem;
    border-radius: 20px;
    background-color: blue;
    box-shadow: 5px 5px 10px blue;
    color: white;
    border: none;
}
#learnMore {
    display: none;
    margin-top: 3rem;
}
.moreProjects {
    padding: 3rem 0;
    display:flex;
    justify-content: center;
    align-items: center;
}
.moreProjects button {
    border-radius: 20px;
    cursor: pointer;
    transition: 0.6s all;
}
.moreProjects button:hover {
    background-color:rgb(25, 43, 242);
    box-shadow: 1px 3px 4px white;
    border-color: transparent;
    
}
/* BEGINNING OF CONTACT SECTION */
.contact {
    padding: 5rem 0;
    background-color: white;
    /* background-color: white changed ; */
    color: #1e1a33;
    text-align: center;
}
.contactTitle {
    letter-spacing: 7px;
    font-size: 20px;
    margin-bottom: 3rem;
}
.contactTitle h2{
    font-family: 'Noto_Serif';
    color: #1e1a33;
}
hr#hrContact {
    text-align: center;
    width: 4rem;
    height: 2px;
    background-color: #3795BD;
    margin: auto;
    margin-bottom: 1rem;
}
button{
    background-color: transparent;
    margin-top: 2rem;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 0.5rem 2.5rem;
    transition: 1s font-family, 1s font-size;
}
form button:hover{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.contactDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    align-items: center;
    justify-content: center;
}
.contactDetails * {
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #3795BD;
    outline: none;
    text-align: center;
    padding: 1rem 3rem;
    color: #1e1a33;
    background-color: transparent;
    width: 20rem;
}
.contact input, textarea {
    /* color: #1e1a33; */
    font-size: 15px;
}
.contact ::placeholder {
    color: #ada0ef;
    font-family: 'Ubuntu';
}
.contactLinks a{
    display: block;
    width: 14rem;
    margin: auto;
    border-bottom: 1px solid goldenrod;
    text-decoration: none;
    padding: 1rem 3rem;
    transition: 2s width;
}
.contact textarea{
    height: 100px;
}
.footer {
    background-color: black;
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 2rem 3rem;
}
.logo {
    margin-top: 0.3rem;
}
.logo a{
    font-size: 18px;
    font-weight: bold;
    color: #46aad5;
    text-decoration: none;
    margin-right: 0.5rem;
}
.logo a:hover {
    color: white;
}

.socials img {
    position: relative;
    top: 10px;
}

/* For scroll reveal */
html.sr .load-hidden {
    visibility: hidden;
}
.mobileA {
    display: none;
}
.mobileBtn {
    display: none;
}
/* MOBILE SCREEN */
@media screen and (max-width: 995px) {

    body {
        overflow-x: hidden;
    }
    /* NAVBAR SECTION FOR MOBILE */

    .mobile_hamburger {
        display: contents;
    }
    .header {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        padding: 0 1.5rem;
        position: relative;
    }
    .titleHeader {
        float: left;
        width: fit-content;
        margin: 0;
    }
    .titleHeader h1 {
        float: left;
        position: relative;
        font-family: 'Signika';
        margin-bottom: 1rem;
        font-size: 40px;
        color: white;
    }
    .header .titleHeader h1::after {
        position: absolute;
        content: '';
        top: 30px;
        left:145px;
        background:linear-gradient(to right, #1e1a33, white);
        width: 15px;
        height: 15px;
    }
    .titleHeader h1 span {
        font-size: 45px;
    }
    
    .navbar {
        /* display: none; */
       background-color: black;
       color: white;
        grid-template-columns: 1;
        grid-template-rows: auto;
        position: absolute;
        padding: 2rem 2rem;
        left:100vw;
        top: 0;
        width: 45%;
        z-index: 1;
        transition: 2s left;
    }
    .nav_active {
        transition: 2s left;
        left: 50%;
    }
    .navbar ul {
         display: grid;
         gap: 2rem;
         text-align: center;     
    }
    .close {
        display: inline-block;
    }
    .navbar.noDisplay {
        transition: 2s all;
    }

/* END OF NAVBAR SECTION FOR MOBILE */  
    .hero {
        margin-top: 5rem;
        display: flex;
        flex-direction: column-reverse;
    }
    .heroLeft {
        padding-left: 1rem ;
    }
    .heroRight{
        width: 90%;
        display: grid;
        place-items: center;
    }
    .rightImage img {
        width: 250px;
        height: 250px;
        transition: 1s all;
        border-radius: 50%;
        object-fit: cover;
    }   
    .rightImage::before{
        display: none;
        left:250px;
        bottom: 215px;
    }
    .rightImage::after {
        left: 200px;
    }
    .contactDetails * {
        width: 14rem;
    }
/* END OF CONTACT SECTION FOR MOBILE */
    .aboutGrid {
        display: flex;
        flex-direction: column;
    }
    .aboutImage {
        height: 400px;
        width: 90%;
        margin: auto;
        box-shadow: 20px 20px 5px inset -20px -20px 25px rgba(167, 167, 186, 0.9);
    }
    .aboutImage img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    .aboutText{
        padding: 3rem 1.4rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h2.aboutTextTitle  {
        width: 100%;
        
    }
    /* END OF ABOUT SECTION */

    /* BEGINNING OF PORTFOLIO SECTION */
    #learnMore {
        display: contents;
    }
    .services {
        padding: 2rem 1rem 2rem 1rem;
    }
    .serviceGrid {
        display: flex;
        flex-direction: column;
    }
    .noDisplay {
        display: none;
    }
    .galleryContainer {
        height: 80rem;
    }
    .examples {
        height: max-content;
        margin-top: 4rem;
        display: grid;
        place-items: center;
        align-items: center;
    }
    .sites {
        width: 100%;
        height: 260px;
    }
    .upperSite {
        gap: 3rem;
        margin-left: 0;
        display:flex;
        flex-direction: column;
    }
    .lowerSite {
        padding-left: 0;
        gap: 3rem;
        margin-left: 0;
        display:flex;
        flex-direction: column;
        margin-top:20rem;
        padding-bottom: 3rem;
    }
    .mobileBtn {
        
        text-align: center;
        /* margin-top: 10rem; */
        display: contents;
        justify-content: center;
        
    }
    .mobileBtn button {
        margin-top: 20rem;
        margin-left: 20%;
        
        
    }
    .desktopBtn {
        display: none;
    }
    /* @keyframes mobileAnime {
        0% {
            left:0;
            top:0;
        }
        25% {
            top: 0;
            left: 90px;
        }
        50% {
            top: 70px;
            left: 90px;
        }
        80% {
            top: -70px;
            left:0px;
        }
        100%{
            top:0;
            left:0;
        }
        
    } */
    /* div.mobileA{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: black;
        animation-fill-mode: backwards;
        height: 250px;
        width: 250px;
        padding: 0 1rem;
        margin-top: 40%;
        animation-name: mobileAnime;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        background-image: linear-gradient(to right, cyan, rgb(236, 190, 92));
    } */
}